{% extends "base.html" %}
{% load static %}

{% load crispy_forms_tags %}

{% block css %}

	<link href="{% static 'chart.js/Chart.css' %}" rel="stylesheet" media="screen" />
	<link href="{% static 'chart.js/Chart.min.css' %}" rel="stylesheet" media="screen" />

{% endblock %}

{% block js %}
		
<script src="{% static 'chart.js/Chart.bundle.js' %}"></script>
<script src="{% static 'chart.js/Chart.bundle.min.js' %}"></script>
<script src="{% static 'chart.js/Chart.js' %}"></script>
<script src="{% static 'chart.js/Chart.min.js' %}"></script>
<script>
var ctx = document.getElementById("myChart");
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
        datasets: [{
            label: '# of Votes',
            data: [12, 19, 3, 5, 2, 3],
            
        }]
    },
    options: {    	
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>

{% endblock %}

{% block content %}

	<div class="row">

		<div class='col-lg-12'>

			<h4 class="mt-4">Statistics</h4>			

			<div id="chart-container">
			    <canvas id="myChart" width="300" height="300"></canvas>
			</div>
						

			

		</div>
	</div>

	



	

	
		

{% endblock %}