{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}

	<div class="row">

		<div class='col-lg-7'>

			<h4 class="mt-4">Entries so far</h4>			

			<table class="table table-striped">			

			<tr>
				<th>barcode</th>
				<th>status</th>
				<th>remarks</th>
				<th>self no</th>
				<th>date</th>
				<th></th>
				<th></th>
			</tr>
			
			{% for stock_entry in entries %}

				<tr>

					<td>{{stock_entry.barcode}}</td>
					<td>{{stock_entry.status}}</td>
					<td>{{stock_entry.remarks}}</td>
					<td>{{stock_entry.shelf_no}}</td>
					<td>{{stock_entry.date}}</td>
					<td><a href="/edit_stock_entry/{{stock_entry.id}}">Edit</a></td>
					<td><a href="/delete_stock_entry/{{stock_entry.id}}">Delete</a></td>
				</tr>

			{% endfor %}

			</table>

		</div>

		<div class="col-lg-5">	
			
			<h4 class="mt-4">Record Exist</h4>

			<table class="table table-striped">

			<tr>
				<th>barcode</th>
				<th>title</th>
				<th>author</th>
			</tr>

			{% for record in db_record %}

				<tr>
					<td>{{record.barcode}}</td>
					<td>{{record.title}}</td>
					<td>{{record.author}}</td>
				</tr>

			{% endfor %}		


			</table>
		</div>	

	</div>	

	<form method="POST" action="/stock_take/">

		{% csrf_token %}

		<div class="row">

			<div class="col-lg-6">

				<h4 class="mt-4">Stock entry form</h4>			
				
				{{ form.text.errors }}
						
				
				<div class='row'>

					<div class="col">
						{{ form.barcode|as_crispy_field }}
					</div>

					<div class="col">
						{{ form.status|as_crispy_field }}
					</div>

				</div>				

				{{ form.remarks|as_crispy_field }}

				{{ form.shelf_no|as_crispy_field }}
					
				<input type="submit" value="Make Entry" />

			</div>				

			

		</div>

	</form>

	
		

{% endblock %}